.bg{
    position: fixed;
    top:80px;
    width: 100vw;
    height: 100vh;
}

#About{
    position: relative;
    font-family: 'papyrus';
    font-weight: bold;
    top:150px;
    left:300px;
}

#plnr{
    position: relative;
    left:800px;
    top:100px;
}

.abtp{
    text-align: center;
    position: relative;
    top:-140px;
    left:23px;
    width:700px;
    height: auto;
}

#Features{
    position: relative;
    font-family: papyrus;
    font-weight: bold;
    top:100px;
    left:850px;
}

.featp{
    text-align: center;
    position: relative;
    top:-200px;
    left:625px;
    width:600px;
    height: auto;
}

#clndr{
    position: relative;
    left:100px;
    top:30px;
}